<hr>
<div class="row">
  <div class="col-6">
    <h1>Habilidades</h1>    
  </div>
  <div class="col-6">  
    <button (click)="mostrarNuevaHabilidad()" class="btn btn-info">Agregar</button>
  </div>
</div>
<hr>
<div *ngIf="habilidades.length > 0 && !mostrarHabilidadNueva && !mostrarEditarHabilidad">
  <div style=" height:300px;overflow-y:auto;width: 100%;">
    <div  *ngFor="let habilidad of habilidades;let h=index">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-8"> 
              <div class="row">
                <div class="col-12">
                  <h1>{{habilidad.nombre}}</h1>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <p>Nivel: {{habilidad.nivel}}</p>
                </div>
              </div> 
            </div>
            <div class="col-4">
              <div class="row">
                <button class="btn btn-block btn-info" (click)="seleccionarHabilidad(h)">Editar</button>
              </div>
              <hr>
              <div class="row">
                <button class="btn btn-block btn-danger" (click)="eliminar(h)">Eliminar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="habilidades.length == 0 && !mostrarHabilidadNueva && !mostrarEditarHabilidad">
  No hay experiencias
</div>
<div *ngIf="mostrarHabilidadNueva && !mostrarEditarHabilidad">
  <div >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Nueva Habilidad</h5> 
      </div> 
      <div class="modal-body">
          <div class="form-group"> 
              <input type="text" name="nombreHabilidad" [(ngModel)]="habilidadNueva.nombre" class="form-control" id="nombreNuevo" placeholder="Nombre"> 
          </div> 
          <div class="form-group"> 
              <input type="text" name="niveHabilidad" [(ngModel)]="habilidadNueva.nivel" class="form-control" id="nivelNuevo" placeholder="Nivel"> 
          </div> 
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="cancelar()">Cancelar</button>
          <button class="btn btn-primary" (click)="guardarHabilidad()">Guardar</button>
      </div>
    </div>
  </div>
</div> 

<div *ngIf="mostrarEditarHabilidad && !mostrarHabilidadNueva">
  <div >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Editar Habilidad</h5> 
      </div> 
      <div class="modal-body">
          <div class="form-group"> 
              <input type="text" name="nombreHabilidad" [(ngModel)]="habilidadSelect.nombre" class="form-control" id="nombreNuevo" placeholder="Nombre"> 
          </div> 
          <div class="form-group"> 
              <input type="text" name="nivelHabilidad" [(ngModel)]="habilidadSelect.nivel" class="form-control" id="nivelNuevo" placeholder="Nivel"> 
          </div>  
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="cancelar()">Cancelar</button>
          <button class="btn btn-primary" (click)="editarHabilidad()">Guardar</button>
      </div>
    </div>
  </div>
</div> 