<div class="container">
  <div class="row bg-dark">
    <div class="col-12">
        <h1 class="text-white">Práctica SPSolutions</h1>
    </div> 
  </div>
  <hr>
  <div class="row align-items-center">
    <div class="col-4">  
      <div class="card align-middle">
        <div class="card-body">
          <div class="row">
            <h4>{{datosGenerales.nombre}}</h4>
          </div>
          <div class="row">
            <h4>{{datosGenerales.especialidad}}</h4>
          </div>
          <div class="row">
            <label>Correo: {{datosGenerales.correo}}</label>
          </div>
          <div class="row">
            <label>Tel. {{datosGenerales.tel}}</label>
          </div>
          <div class="row">
            <label>Estado: {{datosGenerales.estado}}</label>
          </div>
        </div>
      </div>
    </div>
    <div class="col-8" >
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-6">
              <button (click)="mostrarExperiencias()" class="btn btn-info">Experiencia</button>
            </div>
            <div class="col-6">
              <button (click)="mostrarHabilidades()" class="btn btn-info">Habilidades</button>
            </div>
          </div>
          <div *ngIf="!habilidades">
            <div class="row">
              <div class="col-12">
                <app-experiencia></app-experiencia>
              </div>
            </div>
          </div>
          <div *ngIf="!experiencias">
            <div class="row">
              <div class="col-12">
                <app-habilidades></app-habilidades>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>